@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
*
{
  padding: 0;
  margin: 0;
}
body
{
  background-color: #F5DE9C;
  color: #f69927;
  font-family: 'Heebo';
  padding: 0;
  margin: 0;
  text-align: right;
  
}
p{
 color: whitesmoke;
 font-size: 1.5em;
 font-weight: 600;
 text-shadow:
   -0.5px -0.5px 0 #000,  
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
     0.5px 0.5px 0 #000;
     padding: 0 2vw 0 2vw;
 
}
h2
{
  text-align: center;
  font-size: 2.5em;
  padding:2vh 0;
}
h3{
  font-size: 2em;
  margin:2vh 2vw 2vh 0;

}
.maincontiner
{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
}
.title{
       text-align: center;
        font-weight: bold;
        font-size: 2.8em;
      }
.logo
{
  padding-right: 5vw;
  height: 8vh
}
section
{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.section1mainpic
{
  margin-top:10vh ;
  position: relative;
  width: 92vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  

}
.function
{
  display: flex;
  flex-direction: row-reverse;
}
.followlist
{
  border-radius: 18px;
  margin-left: 1vw;
  margin-top: 10vh;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  

}
.districtlist
{
  width: 50vw;
  height: 50vw;
  margin-left: 1vw;
  margin-top: 50vh;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  border-radius: 11px;
}
.function_on_down
{
  display: flex;
  flex-direction: column;
}

/* .citylist2
{
  border-radius: 3%;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  width: 70vw;
  margin: 4% 2%;
  height:15vh;
} */
.citylists {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  margin-top: 6vh;
  box-sizing: border-box;
  height: 35vh;
}

.citylist {
  border-radius: 3%;
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 1%;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  line-height: 0;
}

.citylist > img {
  
  width: 200%;
  object-fit:scale-down; 
  transition: .5s;
}


.citylist:hover { flex: 1 1 50%; }
.citylist:hover > img {
  width: 100%;
  height: 100%;
}
